# inspo: https://github.com/eh8/chenglab/blob/main/.github/workflows/flake.yml

name: Bump flake.lock
on:
  schedule:
    - cron: 0 0 * * *
  workflow_dispatch: null
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          token: ${{ secrets.PAT }}
          fetch-depth: 0

      - uses: cachix/install-nix-action@2126ae7fc54c9df00dd18f7f18754393182c73cd

      - run: nix flake update

      - uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9
        with:
          commit_message: "chore(deps): bump flake.lock"
          commit_user_name: Flake Bot
          commit_options: --no-verify --signoff
          commit_author: Flake Bot <actions@github.com>
          branch: main
          file_pattern: flake.lock
          skip_dirty_check: false
          skip_fetch: true
